@{
    ViewBag.Title = "ArgentinaHTl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CheckArgentina.Commons
<div class="container">
    <div class="col-md-12">
        <div class="panel" style="margin-top: 20px;">
            <div class="panel-heading">
                <h2>Empresa</h2>
            </div>
            <div class="panel-body">
				<p>
					<b>Argentinahtl</b> es un proveedor de alojamiento en Argentina, que opera desde hace 25 años en la forma tradicional bajo la licencia de <b>Ineltur S.R.L.</b> y ahora presenta esta nueva opción<br />
					<br />
					A través de <b>Argentinahtl</b> tendrán acceso a más de 1000 hoteles dentro de la República Argentina, con las mejores tarifas del mercado en alrededor de 160 destinos distintos.<br />
					<br />
					El principal producto de <b>Argentinahtl</b> es el alojamiento que incluye desde los más exclusivos hoteles de Argentina, hasta los pequeños hoteles de los bellos y recónditos lugares que ofrece nuestro País, el cual tiene todos los climas, con sus fascinantes paisajes y la calidez de su gente, tanto en las ciudades como en todos los rincones de su extensa geografía.<br />
					<br />
					Tenemos una guardia 24 horas los 365 días del año, lo que posibilita asistir en casos de necesidad a quien lo solicite.<br />
					<br />
					En todos los casos el responsable de la operatoria y pago es <b>Ineltur S.R.L.</b> y se basa en los convenios otorgados por cada establecimiento con sus propias tarifas.
					<br /><br />

					<b>Socio Gerente:</b><br />   María Antonia Tonelli de Faccas     mfaccas@argentinahtl.com / mfaccas@ineltur.com<br /><br />


					<b>Socio Gerente:</b><br />   Maria Eugenia Salas de Guerra       esalas@ineltur.com  <br /><br />

					<b>Socio Gerente:</b><br />   María Alejandra Faccas              afaccas@ineltur.com  <br /><br />

					<b>Operaciones:</b><br />     reservas@argentinahtl.com  <br /><br />

					<b>Reservas:</b><br />        Lorena Fabiana  Pelegrina           reservas@argentinahtl.com <br /><br />

					<b>Tarifas:</b><br />         Laura  Noelia Velasco               lvelasco@ineltur.com <br />

					Lucia Victoria Guevara              vguevara@ineltur.com <br /><br />

					<b>Área de Desarrollo y Tecnología:</b><br />
					Aníbal Manzur       amanzur@argentinahtl.com <br />
					Juan Willink        jwillink@argentinahtl.com <br /><br />

					<b>Asistencia y Soporte:</b><br />            soporte@argentinahtl.com<br /><br />

					<b>Teléfono de Guardia:</b><br />             +54 261  5134156<br /><br />

					<b>Ineltur S.R.L.</b><br />
					CUIT No  30-64254425-6<br />
					Legajo No 6248<br />
					Granaderos 998 Ciudad – Mendoza - Argentina C.P.5500<br />
					Teléfono +54 261 4297256 / 57 / 58<br />
					0810 333 2705<br />
					www.ineltur.com<br />
					www.argentinahtl.com<br /><br />

					<b>Banco Supervielle</b><br />
					Cuenta Corriente : Ineltur S.R.L.<br />
					Cuenta No 66-579743-1<br />
					CBU 0270066310005797430017<br /><br />

				</p>
            </div>
        </div>
    </div>
</div>



