@{
    ViewBag.Title = "ArgentinaHTl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    @Html.Partial("_HeadScripts")
</head>
<body>
    <div class="panel" style="margin-top: 20px;">
        <div class="panel-body">
            <h2>
                Se ha producido un error, inténtelo nuevamente más tarde.
            </h2>
        </div>
    </div>
</body>
</html>