<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
	<add name="ArgentinahtlConnectionString" connectionString="Data Source=(local);Initial Catalog=Argentinahtl;Integrated Security=False;User ID=sa"
  providerName="System.Data.SqlClient" />
	</connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentServicePlatformBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentServicePlatformBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://implementacion.nps.com.ar:443/ws.php"
                binding="basicHttpBinding" bindingConfiguration="PaymentServicePlatformBinding"
                contract="NPS.PaymentServicePlatformPortType" name="PaymentServicePlatformPort" />
        </client>
    </system.serviceModel>
</configuration>