@model CheckArgentina.Models.ErrorModel
@using CheckArgentina.Commons

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
	<div class="panel">
		<div class="panel-heading" style="margin-top:20px;">
			<h3>Error</h3>
		</div>
		<div class="panel-body">
			<p>Estimado/a @SessionData.User.UserFirstName.ToString(),</p>
			<p>Se produjo un error durante el pago de la reserva. Por favor, revise el problema y vuelva a intentarlo.</p>
			<p>Detalle del error: @Html.LabelFor(m => m.mensaje)</p>
			<p>Intente nuevamente o póngase en contacto con soporte@argentinahtl.com</p>
		</div>
	</div>
</div>
