@model CheckArgentina.Models.ReservationModel 
@using CheckArgentina.Commons
           
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="panel">
        <div class="panel-heading" style="margin-top:20px;">
            <h3>Éxito</h3>
        </div>
        <div class="panel-body">
            <p>Estimado/a @SessionData.User.UserFirstName.ToString(),</p>
            <p>Le informamos que su reserva se ha realizado satisfactoriamente. Se ha enviado un mail a la dirección @Model.ReservationOwner.TravelerEmail con los datos correspondientes.</p>
            <p>Muchas gracias por confiar en nosotros. Lo esperamos nuevamente.</p>
        </div>
    </div>  
</div>
      

