<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
	<add name="ArgentinahtlConnectionString" connectionString="Data Source=(local);Initial Catalog=Argentinahtl;Integrated Security=False;User ID=sa"
  providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>