<div class="modal fade" id="TelephoneReservationModal" tabindex="-1" role="dialog" aria-labelledby="telephoneReservationModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h1>0810 333 2705</h1>
            </div>
        </div>
    </div>
</div>